In [1]:
import pandas as pd

In [4]:
xl = pd.ExcelFile('./[과제2] 포스코 항만 너울성파도 발생 실적.xlsx')

In [5]:
xl.sheet_names

['설명', '2014', '2015', '2016', '2017']

In [8]:
raw = xl.parse('2014')
raw.info()
raw

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 47 columns):
Unnamed: 0     12 non-null object
Unnamed: 1     13 non-null object
Unnamed: 2     18 non-null object
Unnamed: 3     0 non-null float64
Unnamed: 4     20 non-null object
Unnamed: 5     18 non-null object
Unnamed: 6     54 non-null object
Unnamed: 7     0 non-null float64
Unnamed: 8     17 non-null object
Unnamed: 9     16 non-null object
Unnamed: 10    37 non-null object
Unnamed: 11    0 non-null float64
Unnamed: 12    14 non-null object
Unnamed: 13    13 non-null object
Unnamed: 14    28 non-null object
Unnamed: 15    0 non-null float64
Unnamed: 16    10 non-null object
Unnamed: 17    6 non-null object
Unnamed: 18    10 non-null object
Unnamed: 19    0 non-null float64
Unnamed: 20    20 non-null object
Unnamed: 21    13 non-null object
Unnamed: 22    37 non-null object
Unnamed: 23    0 non-null float64
Unnamed: 24    19 non-null object
Unnamed: 25    3 non-null object
Unnamed: 26    28 non-null object
Unnamed: 27    0 non-null float64
Unnamed: 28    25 non-null object
Unnamed: 29    11 non-null object
Unnamed: 30    55 non-null object
Unnamed: 31    0 non-null float64
Unnamed: 32    13 non-null object
Unnamed: 33    4 non-null object
Unnamed: 34    13 non-null object
Unnamed: 35    0 non-null float64
Unnamed: 36    17 non-null object
Unnamed: 37    18 non-null object
Unnamed: 38    29 non-null object
Unnamed: 39    0 non-null float64
Unnamed: 40    11 non-null object
Unnamed: 41    4 non-null object
Unnamed: 42    19 non-null object
Unnamed: 43    0 non-null float64
Unnamed: 44    14 non-null object
Unnamed: 45    12 non-null object
Unnamed: 46    18 non-null object
dtypes: float64(11), object(36)
memory usage: 21.4+ KB

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1월,NaN,NaN,NaN,2월,NaN,NaN,NaN,3월,NaN,...,NaN,NaN,NaN,11월,NaN,NaN,NaN,12월,NaN,NaN
1,구분\n일자,기상불량시간,시 간,NaN,구분\n일자,기상불량시간,시 간,NaN,구분\n일자,기상불량시간,...,기상불량시간,시 간,NaN,구분\n일자,기상불량시간,시 간,NaN,구분\n일자,기상불량시간,시 간
2,NaN,SWELL,NaN,NaN,NaN,SWELL,NaN,NaN,NaN,SWELL,...,SWELL,NaN,NaN,NaN,SWELL,NaN,NaN,NaN,SWELL,NaN
3,2014-01-04 00:00:00,NaN,15:00~19:00,NaN,2014-02-04 00:00:00,12,07:00~19:00,NaN,2014-03-01 00:00:00,NaN,...,6,07:00~13:00,NaN,2014-11-01 00:00:00,NaN,07:00~13:00,NaN,2014-12-07 00:00:00,5,02:00~07:00
4,NaN,NaN,19:00~07:00,NaN,NaN,4,19:00~23:00,NaN,NaN,NaN,...,NaN,22:00~07:00,NaN,2014-11-07 00:00:00,NaN,07:00~15:00,NaN,2014-12-08 00:00:00,NaN,07:00~10:00
5,2014-01-05 00:00:00,NaN,07:00~10:00,NaN,NaN,3,23:00~02:00,NaN,NaN,NaN,...,2,14:00~16:00,NaN,NaN,NaN,19:00~21:00,NaN,NaN,NaN,10:00~13:00
6,NaN,3,10:00~13:00,NaN,2014-02-05 00:00:00,6,07:00~13:00,NaN,2014-03-02 00:00:00,NaN,...,3,16:00~19:00,NaN,NaN,NaN,23:00~02:00,NaN,2014-12-10 00:00:00,NaN,22:00~01:00
7,2014-01-08 00:00:00,NaN,10:00~19:00,NaN,NaN,6,13:00~19:00,NaN,NaN,NaN,...,12,19:00~07:00,NaN,NaN,NaN,02:00~07:00,NaN,NaN,NaN,01:00~07:00
8,2014-01-09 00:00:00,4.5,14:30~19:00,NaN,NaN,2,21:00~23:00,NaN,NaN,NaN,...,12,07:00~19:00,NaN,2014-11-08 00:00:00,NaN,07:00~10:00,NaN,2014-12-12 00:00:00,6,07:00~13:00
9,NaN,12,19:00~07:00,NaN,NaN,3,23:00~02:00,NaN,NaN,10,...,3,19:00~22:00,NaN,NaN,NaN,10:00~13:00,NaN,2014-12-16 00:00:00,NaN,04:00~07:00
10,2014-01-10 00:00:00,3,07:00~10:00,NaN,2014-02-06 00:00:00,3,07:00~10:00,NaN,2014-03-03 00:00:00,3,...,9,22:0~07:00,NaN,NaN,NaN,19:00~07:00,NaN,2014-12-16 00:00:00,NaN,07:00~10:00
11,NaN,2,10:00~13:00,NaN,NaN,3,10:00~13:00,NaN,NaN,3,...,3,07:00~10:00,NaN,2014-11-12 00:00:00,NaN,02:00~07:00,NaN,2014-12-17 00:00:00,9,10:00~19:00
12,2014-01-21 00:00:00,3.5,21:00~00:30,NaN,NaN,NaN,19:00~22:00,NaN,NaN,2,...,2,13:00~15:00,NaN,2014-11-24 00:00:00,NaN,07:00~19:00,NaN,NaN,12,19:00~07:00
13,NaN,1.5,00:30~02:00,NaN,NaN,NaN,04:00~07:00,NaN,NaN,6,...,16,15:00~07:00,NaN,NaN,NaN,19:00~07:00,NaN,2014-12-18 00:00:00,24,07:00~07:00
14,2014-01-25 00:00:00,NaN,10:00~13:00,NaN,2014-02-07 00:00:00,NaN,07:00~10:00,NaN,2014-03-12 00:00:00,NaN,...,3,07:00~10:00,NaN,2014-11-25 00:00:00,NaN,07:00~13:00,NaN,2014-12-19 00:00:00,3,07:00~10:00
15,NaN,NaN,13:00~15:00,NaN,NaN,NaN,10:00~19:00,NaN,NaN,NaN,...,3,10:00~13:00,NaN,NaN,12,19:00~07:00,NaN,NaN,3,10:00~13:00
16,NaN,NaN,15:00~19:00,NaN,NaN,NaN,19:00~23:00,NaN,NaN,NaN,...,6,13:00~19:00,NaN,2014-11-28 00:00:00,NaN,13:00~19:00,NaN,NaN,6,13:00~19:00
17,2014-01-26 00:00:00,12,19:00~07:00,NaN,NaN,NaN,23:00~07:00,NaN,2014-03-13 00:00:00,NaN,...,12,19:00~07:00,NaN,2014-11-30 00:00:00,NaN,07:00~10:00,NaN,NaN,4,19:00~23:00
18,2014-01-27 00:00:00,3,07:00~10:00,NaN,2014-02-08 00:00:00,NaN,07:00~13:00,NaN,NaN,8,...,NaN,19:00~07:00,NaN,NaN,NaN,10:00~13:00,NaN,NaN,NaN,23:00~07:00
19,NaN,3,10:00~13:00,NaN,NaN,6,13:00~19:00,NaN,2014-03-14 00:00:00,3,...,NaN,07:00~19:00,NaN,NaN,NaN,13:00~19:00,NaN,2014-12-20 00:00:00,NaN,07:00~10:00
20,계,47.5,NaN,NaN,NaN,NaN,19:00~07:00,NaN,NaN,3,...,NaN,19:00~07:00,NaN,NaN,NaN,19:00~07:00,NaN,2014-12-21 00:00:00,NaN,NaN
21,NaN,NaN,NaN,NaN,2014-02-09 00:00:00,NaN,07:00~19:00,NaN,2014-03-19 00:00:00,NaN,...,NaN,04:00~07:00,NaN,계,12,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,19:00~07:00,NaN,2014-03-20 00:00:00,NaN,...,NaN,07:00~13:00,NaN,NaN,NaN,NaN,NaN,계,72,NaN
23,NaN,NaN,NaN,NaN,2014-02-10 00:00:00,NaN,07:00~13:00,NaN,NaN,NaN,...,NaN,13:00~19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,13:00~14:00,NaN,NaN,NaN,...,NaN,19:00~07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,14:00~19:00,NaN,2014-03-21 00:00:00,6,...,NaN,07:00~19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,19:00~07:00,NaN,NaN,12,...,NaN,19:00~07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,2014-02-11 00:00:00,NaN,07:00~15:00,NaN,2014-03-22 00:00:00,3,...,NaN,07:00~19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,15:00~16:00,NaN,NaN,3,...,12,19:00~07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,16:00~19:00,NaN,2014-03-25 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,19:00~07:00,NaN,NaN,NaN,...,NaN,07:00~19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,2014-02-12 00:00:00,NaN,07:00~13:00,NaN,2014-03-26 00:00:00,NaN,...,NaN,19:00~07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,13:00~19:00,NaN,NaN,NaN,...,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,19:00~22:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,22:00~07:00,NaN,2014-03-29 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,2014-02-13 00:00:00,NaN,07:00~13:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,13:00~19:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,19:00~07:00,NaN,2014-03-30 00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,2014-02-14 00:00:00,NaN,14:00~19:00,NaN,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,9,22:00~07:00,NaN,계,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,23:00~01:30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,2014-02-17 00:00:00,6,07:00~13:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,13:00~19:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,19:00~23:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,23:00~07:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,2014-02-18 00:00:00,NaN,07:00~19:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,12,19:00~07:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,2014-02-19 00:00:00,6,07:00~13:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,13:00~16:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,16:00~19:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,19:00~21:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,10,21:00~07:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,2014-02-23 00:00:00,NaN,21:30~23:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,2014-02-26 00:00:00,NaN,14:00~19:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,19:00~07:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,2014-02-27 00:00:00,NaN,07:00~10:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,계,91,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
raw = raw.drop([0,1,2],axis=0)

In [10]:
col_len = 3

In [56]:
sub = raw.iloc[:,16:19]
sub.dropna(how='all',inplace=True)
sub.drop([sub.index[-1]],axis=0,inplace=True)
sub.iloc[:,0].fillna(method='ffill',inplace=True)
sub.iloc[:,2].fillna(value='test',inplace=True)
sub

   Unnamed: 16 Unnamed: 17  Unnamed: 18
3   2014-05-04         NaN  00:00~07:00
4   2014-05-11         NaN  23:00~02:00
5   2014-05-11         NaN  02:00~07:00
6   2014-05-12         NaN  07:00~10:00
7   2014-05-17           6  13:00~19:00
8   2014-05-17           7  19:00~02:00
9   2014-05-17           5  02:00~07:00
10  2014-05-18         NaN         test
12  2014-05-25         NaN  19:00~07:00
13  2014-05-28         NaN  16:00~19:00

In [57]:
sub.iloc[:,1].fillna(value=-1,inplace=True)
sub

   Unnamed: 16  Unnamed: 17  Unnamed: 18
3   2014-05-04           -1  00:00~07:00
4   2014-05-11           -1  23:00~02:00
5   2014-05-11           -1  02:00~07:00
6   2014-05-12           -1  07:00~10:00
7   2014-05-17            6  13:00~19:00
8   2014-05-17            7  19:00~02:00
9   2014-05-17            5  02:00~07:00
10  2014-05-18           -1         test
12  2014-05-25           -1  19:00~07:00
13  2014-05-28           -1  16:00~19:00

In [58]:
#sub.dropna(inplace=True)
sub.columns = ['day','swell','time']
sub

          day  swell         time
3  2014-05-04     -1  00:00~07:00
4  2014-05-11     -1  23:00~02:00
5  2014-05-11     -1  02:00~07:00
6  2014-05-12     -1  07:00~10:00
7  2014-05-17      6  13:00~19:00
8  2014-05-17      7  19:00~02:00
9  2014-05-17      5  02:00~07:00
10 2014-05-18     -1         test
12 2014-05-25     -1  19:00~07:00
13 2014-05-28     -1  16:00~19:00

In [59]:
sub.reset_index(drop=True,inplace=True)
sub

         day  swell         time
0 2014-05-04     -1  00:00~07:00
1 2014-05-11     -1  23:00~02:00
2 2014-05-11     -1  02:00~07:00
3 2014-05-12     -1  07:00~10:00
4 2014-05-17      6  13:00~19:00
5 2014-05-17      7  19:00~02:00
6 2014-05-17      5  02:00~07:00
7 2014-05-18     -1         test
8 2014-05-25     -1  19:00~07:00
9 2014-05-28     -1  16:00~19:00

In [66]:
sub_result = []
for sheet in xl.sheet_names[1:]:
    raw = xl.parse(sheet)
    raw = raw.drop([0,1,2],axis=0)
    for col_num in range(len(raw.columns) // 4 + 1):
        st = col_num*(col_len + 1)
        et = st + col_len
        print(st, et)
        sub = raw.iloc[:,st:et]
        sub.dropna(how='all',inplace=True)
        sub.drop([sub.index[-1]],axis=0,inplace=True)
        sub.iloc[:,0].fillna(method='ffill',inplace=True)
        sub.iloc[:,2].fillna(value='test',inplace=True)
        sub.iloc[:,1].fillna(value=-1,inplace=True)
        sub.columns = ['day','swell','time']
        sub.reset_index(drop=True,inplace=True)
        sub.info()

        sub_result.append(sub)

0 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
day      17 non-null datetime64[ns]
swell    17 non-null float64
time     17 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 488.0+ bytes
4 7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
day      53 non-null datetime64[ns]
swell    53 non-null int64
time     53 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.3+ KB
8 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
day      36 non-null datetime64[ns]
swell    36 non-null int64
time     36 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 944.0+ bytes
12 15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
day      27 non-null datetime64[ns]
swell    27 non-null int64
time     27 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 728.0+ bytes
16 19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
day      10 non-null datetime64[ns]
swell    10 non-null int64
time     10 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 320.0+ bytes
20 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
day      36 non-null datetime64[ns]
swell    36 non-null float64
time     36 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 944.0+ bytes
24 27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
day      28 non-null datetime64[ns]
swell    28 non-null int64
time     28 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 752.0+ bytes
28 31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 3 columns):
day      54 non-null datetime64[ns]
swell    54 non-null int64
time     54 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.3+ KB
32 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
day      13 non-null datetime64[ns]
swell    13 non-null int64
time     13 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 392.0+ bytes
36 39
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
day      29 non-null datetime64[ns]
swell    29 non-null int64
time     29 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 776.0+ bytes
40 43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
day      18 non-null datetime64[ns]
swell    18 non-null int64
time     18 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 512.0+ bytes
44 47
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
day      18 non-null datetime64[ns]
swell    18 non-null int64
time     18 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 512.0+ bytes
0 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
day      45 non-null datetime64[ns]
swell    45 non-null int64
time     45 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.1+ KB
4 7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
day      25 non-null datetime64[ns]
swell    25 non-null int64
time     25 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 680.0+ bytes
8 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
day      20 non-null datetime64[ns]
swell    20 non-null float64
time     20 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 560.0+ bytes
12 15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
day      39 non-null datetime64[ns]
swell    39 non-null int64
time     39 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1016.0+ bytes
16 19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
day      12 non-null datetime64[ns]
swell    12 non-null int64
time     12 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 368.0+ bytes
20 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 3 columns):
day      23 non-null datetime64[ns]
swell    23 non-null float64
time     23 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 632.0+ bytes
24 27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
day      19 non-null datetime64[ns]
swell    19 non-null int64
time     19 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 536.0+ bytes
28 31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
day      32 non-null datetime64[ns]
swell    32 non-null int64
time     32 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 848.0+ bytes
32 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 3 columns):
day      43 non-null object
swell    43 non-null float64
time     43 non-null object
dtypes: float64(1), object(2)
memory usage: 1.1+ KB
36 39
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
day      16 non-null datetime64[ns]
swell    16 non-null int64
time     16 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 464.0+ bytes
40 43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
day      65 non-null datetime64[ns]
swell    65 non-null float64
time     65 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.6+ KB
44 47
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
day      24 non-null datetime64[ns]
swell    24 non-null int64
time     24 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 656.0+ bytes
0 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
day      20 non-null datetime64[ns]
swell    20 non-null int64
time     20 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 560.0+ bytes
4 7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
day      19 non-null datetime64[ns]
swell    19 non-null int64
time     19 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 536.0+ bytes
8 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
day      21 non-null datetime64[ns]
swell    21 non-null int64
time     21 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 584.0+ bytes
12 15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
day      31 non-null datetime64[ns]
swell    31 non-null float64
time     31 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 824.0+ bytes
16 19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
day      10 non-null datetime64[ns]
swell    10 non-null int64
time     10 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 320.0+ bytes
20 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
day      21 non-null datetime64[ns]
swell    21 non-null int64
time     21 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 584.0+ bytes
24 27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
day      15 non-null datetime64[ns]
swell    15 non-null int64
time     15 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 440.0+ bytes
28 31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
day      18 non-null datetime64[ns]
swell    18 non-null int64
time     18 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 512.0+ bytes
32 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 3 columns):
day      37 non-null datetime64[ns]
swell    37 non-null int64
time     37 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 968.0+ bytes
36 39
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
day      25 non-null datetime64[ns]
swell    25 non-null int64
time     25 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 680.0+ bytes
40 43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
day      27 non-null datetime64[ns]
swell    27 non-null float64
time     27 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 728.0+ bytes
44 47
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
day      35 non-null datetime64[ns]
swell    35 non-null float64
time     35 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 920.0+ bytes
0 3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
day      44 non-null datetime64[ns]
swell    44 non-null int64
time     44 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.1+ KB
4 7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
day      34 non-null datetime64[ns]
swell    34 non-null float64
time     34 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 896.0+ bytes
8 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
day      20 non-null datetime64[ns]
swell    20 non-null float64
time     20 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 560.0+ bytes
12 15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
day      14 non-null datetime64[ns]
swell    14 non-null int64
time     14 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 416.0+ bytes
16 19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
day      8 non-null datetime64[ns]
swell    8 non-null int64
time     8 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 272.0+ bytes
20 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
day      13 non-null datetime64[ns]
swell    13 non-null int64
time     13 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 392.0+ bytes
24 27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
day      24 non-null datetime64[ns]
swell    24 non-null int64
time     24 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 656.0+ bytes
28 31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
day      28 non-null datetime64[ns]
swell    28 non-null int64
time     28 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 752.0+ bytes
32 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
day      13 non-null datetime64[ns]
swell    13 non-null int64
time     13 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 392.0+ bytes
36 39
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
day      30 non-null object
swell    30 non-null int64
time     30 non-null object
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes
40 43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
day      7 non-null datetime64[ns]
swell    7 non-null float64
time     7 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 248.0+ bytes
44 47
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
day      14 non-null datetime64[ns]
swell    14 non-null int64
time     14 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 416.0+ bytes

In [67]:
merged_df = pd.concat(sub_result,axis=0).reset_index(drop=True)
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 3 columns):
day      1230 non-null object
swell    1230 non-null float64
time     1230 non-null object
dtypes: float64(1), object(2)
memory usage: 28.9+ KB

                   day  swell         time
0  2014-01-04 00:00:00   -1.0  15:00~19:00
1  2014-01-04 00:00:00   -1.0  19:00~07:00
2  2014-01-05 00:00:00   -1.0  07:00~10:00
3  2014-01-05 00:00:00    3.0  10:00~13:00
4  2014-01-08 00:00:00   -1.0  10:00~19:00